<connectionStrings>
  <add name="AppContext" connectionString="data source=DESKTOP-FEHU40U\SQLEXPRESS;initial catalog=BPMConfig;persist security info=True;user id=jconnor;password=Jjcf0078;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>