<connectionStrings>
  <add name="AppContext" connectionString="data source=BMC108SISTEMA1\SQLEXPRESS;initial catalog=BPMConfig;persist security info=True;user id=jconnor;password=Jjcf123456;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>