
<!-- BEGIN Menu -->
@Html.Partial("_Menu")
<!-- END Menu -->

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">
       <!--Begin MiniHeaderForAllPages-->
        @Html.Partial("_MiniHeaderForAllPages","Home")
        <div class="portlet light">
            <div class="portlet-body">
                
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->